/*headlines*/
h1{
  text-align: center;
  font-size: 30px;
  font-familiy: forte;
  font-style: bold;
}

/* Style the container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

/* Style the array container */
.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    width: 80%;
    margin-bottom: 20px;
    background-color: #E6E6FA;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the bars */
.bar {
    width: 40px;
    margin: 0 2px;
    background-color: #4B0082;
    transition: height 0.2s ease-in-out;
}

/* Style the input fields and buttons */
label, input, button {
    margin-bottom: 10px;
}

/* Style the buttons */

.right{float: right;}
.left{float:left;}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}


a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid #6A5ACD;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #6A5ACD;
  color: white;
}

/* Orange */
.orange {
  border-color: #ff9800;
  color: orange;
}

.orange:hover {
  background: #ff9800;
  color: white;
}


/* blue*/
.lavender {
  border-color: blue;
  color: blue;
}

.lavender:hover {
  background: blue;
  color: white;
}

input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}


input[type=number] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=number]:focus {
  border: 3px solid #555;
}


